@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

input,
select,
textarea {
  color: #1f2937;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}

html {
  font-size: 16px; 
}